<?xml version="1.0"?>
<config>
    <modules>
        <ChoiceAI_Search>
            <version>0.0.9</version>
        </ChoiceAI_Search>
    </modules>
    <global>
        <models>
            <choiceai_search>
                <class>ChoiceAI_Search_Model</class>
                <resourceModel>choiceai_search_resource</resourceModel>
            </choiceai_search>
            <choiceai_search_resource>
                <class>ChoiceAI_Search_Model_Resource</class>
            </choiceai_search_resource>
            <catalog>
                <rewrite>
                    <config>ChoiceAI_Search_Model_Catalog_Config</config>
                    <category>ChoiceAI_Search_Model_Catalog_Category</category>
                    <product_url>ChoiceAI_Search_Model_Catalog_Product_Url</product_url>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <choiceai_search>
                <class>ChoiceAI_Search_Helper</class>
            </choiceai_search>
            <configurableswatches>
                <rewrite>
                    <productimg>ChoiceAI_Search_Helper_Productimg</productimg>
                </rewrite>
            </configurableswatches>
        </helpers>
        <blocks>
            <choiceai_search>
                <class>ChoiceAI_Search_Block</class>
            </choiceai_search>
            <catalog>
                <rewrite>
                    <layer_view>ChoiceAI_Search_Block_Catalog_Layer_View</layer_view>
                    <product_list>ChoiceAI_Search_Block_Catalog_Product_List</product_list>
                    <product_list_toolbar>ChoiceAI_Search_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>ChoiceAI_Search_Block_Catalogsearch_Layer</layer>
                    <result>ChoiceAI_Search_Block_Catalogsearch_Result</result>
                </rewrite>
            </catalogsearch>
            <enterprise_search>
                <rewrite>
                    <catalogsearch_layer>ChoiceAI_Search_Block_Catalogsearch_Enterprise_Layer</catalogsearch_layer>
                </rewrite>
            </enterprise_search>
        </blocks>
    </global>
</config>
