<config>
	<modules>
		<ChoiceAI_Searchcore>
			<version>1.0.12</version>
		</ChoiceAI_Searchcore>
	</modules>
	<global>
        <helpers>
            <choiceai_searchcore>
                <class>ChoiceAI_Searchcore_Helper</class>
            </choiceai_searchcore>
        </helpers>
		<models>
			<choiceai_searchcore>
				<class>ChoiceAI_Searchcore_Model</class>
			</choiceai_searchcore>
		</models>
	</global>
</config>
