<?xml version="1.0"?>
<!--
/**
 * @category    ChoiceAI
 * @package     ChoiceAI_Personalisation
 * @copyright   Copyright (c) MineWhat
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <ChoiceAI_Personalisation>
            <version>1.1.1</version>
        </ChoiceAI_Personalisation>
    </modules>
    <global>
        <models>
            <choiceai_personalisation>
                <class>ChoiceAI_Personalisation_Model</class>
            </choiceai_personalisation>
        </models>
        <blocks>
            <choiceai_personalisation>
                <class>ChoiceAI_Personalisation_Block</class>
            </choiceai_personalisation>
        </blocks>
        <helpers>
            <choiceai_personalisation>
                <class>ChoiceAI_Personalisation_Helper</class>
            </choiceai_personalisation>
        </helpers>


        <events>
            <admin_system_config_changed_section_choiceai_personalisation>
                <observers>
                    <choiceai_personalisation_save_settings>
                        <type>singleton</type>
                        <class>choiceai_personalisation/observer</class>
                        <method>onSaveSettings</method>
                    </choiceai_personalisation_save_settings>
                </observers>
            </admin_system_config_changed_section_choiceai_personalisation>
        </events>


        <resources>
            <personalisation_setup>
                <setup>
                    <module>ChoiceAI_Personalisation</module>
                </setup>
            </personalisation_setup>
        </resources>

    </global>
    <frontend>
        <routers>
            <personalisation>
                <use>standard</use>
                <args>
                    <module>ChoiceAI_Personalisation</module>
                    <frontName>choiceai</frontName>
                </args>
            </personalisation>
        </routers>
        <layout>
            <updates>
                <choiceai_personalisation>
                    <file>choiceai_personalisation.xml</file>
                </choiceai_personalisation>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <choiceai_personalisation_log_cart_add>
                        <type>singleton</type>
                        <class>choiceai_personalisation/observer</class>
                        <method>logCartAdd</method>
                    </choiceai_personalisation_log_cart_add>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <default>
        <choiceai_personalisation>
            <settings>
                <active>0</active>
                <base_script></base_script>
            </settings>
        </choiceai_personalisation>
    </default>
</config>
